h1 a {
    text-decoration: none;
    color: black;
}
h1 a:hover {
    color: black;
    text-decoration: underline;
}
.login-button,
.admin-button.btn-group {
        position: absolute;
        top: 10px;
        right: 25px;
}
form.login .alert-error{
    margin-top: 8px;
}
.app-container {
    margin-top: 32px;
}
.stream form input,
.stream form textarea {
    width: 100%;
}
.stream .comment {
 position: relative;
 overflow: hidden;   
}
.stream .promote {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
.stream .promote:hover {
    text-decoration: underline;
    font-weight: bold;
}
.feed {
    display: block;
    float: left;
	width: 500px;
    position: relative;
}
.feed ul {
    margin: 0 0 9px 0;
}
.comments {
    display: inline-block;
    width: 100%;
    margin: 0;
}
.comments .comment {
	overflow: hidden;
	padding: 5px 0;
	color: black;
    list-style-type: none;
    border-bottom: 1px dotted #c3c3c3;
}
.comments .comment img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 5px 5px 0;
}
.comments .comment strong {
    display: block;
}
.app-list ul li {
    list-style-type: none;
}
.feed ul li.placeholder {
    padding: 12px;
    border: 2px dotted #a2a2a2;
    list-style: none;
}
.feed ul li.comment {
    position: relative;
    display: inline;
}
