body {
	padding: 20px;
}
h1 {
	font-size: 30px;
	font-family: serif;
	margin: 0 0 10px 0; 
}
h2 {
	font-size: 18px;
	font-family: sans-serif;
}

.app-container {
	display: none;
}
.app-list {
	display: block;
}

.stream, .rail {
	float: left;
	padding: 0 20px 0 0;
	position: relative;
}
.stream {
	width: 600px;
	border-right: 1px solid;
}
.rail {
	padding-left: 10px;
}

.stream form {
	margin-top: 20px;
}
.stream form textarea {
	width: 400px;
	height: 120px;
}

.comments .comment {
	overflow: hidden;
	padding: 5px 0;
}
.comments .comment img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 5px 5px 0;
}

a.backToList {
	position: absolute;
	top: 0;
	right: 10px;
	text-decoration: none;
}
a.backToList:hover {
	text-decoration: underline;
}

form.login {
	display: none;
	position: absolute;
	top: 20px;
	left: 50%;
	width: 260px;
	text-align: center;
	margin-left: -130px;
	background: #ccc;
	padding: 50px;
	z-index: 10;
}
form.login .close {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	border: 1px solid;
}
.login-button {
	position: absolute;
	top: 5px;
	right: 5px;
}
.error {
	color: red;
}